In [1]:
import sqlite3

In [19]:
database_name = "registers_control.sqlite"

In [20]:
connection = sqlite3.connect(database_name)
cursor = connection.cursor()
cursor.close()

In [21]:
with sqlite3.connect(database_name) as connection:
    cursor = connection.cursor()

    create_table = '''
    CREATE TABLE IF NOT EXISTS registers (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        plague TEXT NOT NULL,
        timestamp INTEGER NOT NULL,
        location TEXT NOT NULL   
    )
    '''

    cursor.execute(create_table)

    connection.commit()

cursor.close()

In [18]:
# Put data test

with sqlite3.connect(database_name) as connection:
    cursor = connection.cursor()

    data = [
        ('COVID-19', 1618220400, 'SÃ£o Paulo'),
        ('COVID-19', 1618220400, 'Rio de Janeiro'),
    ]

    cursor.executemany('INSERT INTO registers (plague, timestamp, location) VALUES (?, ?, ?)', data)

    connection.commit()

cursor.close()

In [9]:
with sqlite3.connect(database_name) as connection:
    cursor = connection.cursor()

    cursor.execute('SELECT * FROM registers')

    for line in cursor.fetchall():
        print(line[2])
cursor.close()

OperationalError: no such table: registers

In [7]:
cursor = connection.cursor()
cursor.close()

NameError: name 'connection' is not defined

In [1]:
from datetime import datetime

date_raw = "2021-04-12"

date_object = datetime.strptime(date_raw, '%Y-%m-%d')
timestamp = date_object.timestamp()

print(timestamp)

1618196400.0